*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.902);
}
header{
    width: 70%;
    height: 170vh;
    margin: 0 auto;
    background-color: #fff;
}
.navbar_div{
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: white;
}
.card{
    display: flex;
    padding: 1px;
}
 img{
    display: flex;
}

.card ul{
    display: flex;
    padding: 15px;
    margin-left: 740px;
}
.card ul li{
    display: flex;
    margin-left: 20px;
}
.card a{
    color: black;
}
details{
    margin-left: 30px;
}
.card button{
    width: 110px;
    height: 40px;
    padding: 10px;
    color: #fff;
    background-color: rgba(219, 15, 15, 0.781);
    border: 2px solid rgb(247, 5, 223);
    margin-left: 25px;
    border-radius: 20px;
    margin-top: -10px;
}
.block_div{
    width: 100%;
    height: 80vh;
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipMx68tJR6xOe5_jZX-i4wH1Z1cgXvr0DDET8q0Q=w1080-h608-p-no-v0);
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-template-columns:  repeat(5, 250px);
    grid-template-rows: repeat(4, 240px); 
    display: grid;
    column-gap: 0px;
    row-gap: 15px;
}
.block_div p{
    width: 80%;
    margin: 0 auto;
   text-align: center;
   margin-top: 20px;
   font-size: 16px;
   color: #fff;
}
.box_div h1{
margin: 10px;
color: white;
font-size: 50px;
text-align: center;
}
.box_div .lorem{
    margin-top: 120px;
}
.box_div button{
    width: 110px;
    height: 40px;
    padding: 10px;
    color: #fff;
    background-color: rgba(219, 15, 15, 0.781);
    border: 2px solid rgb(247, 5, 223);
    margin-left: 580px;
    border-radius: 20px;
    margin-top: 40px;  
}
.box_div{
    grid-column: 1/6;
    grid-row: 1/3;
}
.box1{
    grid-column: 2/3;
    grid-row: 3/4;
    color: black;
    text-align: center;
    background-color: #fff9f9;
}
.box1 i{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
}
.box1 p{
    color: black;
}
.box2{
    grid-column: 3/4;
    grid-row: 3/4;
    color: black;
    text-align: center;
    background-color: rgb(220, 229, 236);
}
.box2 i{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
}
.box2 p{
    color: black;
}
.box3{
    grid-column: 4/5;
    grid-row: 3/4;
    color: black;
    text-align: center;
    background-color: #fff9f9;
}
.box3 i{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
}
.box3 p{
    color: black;
}
.futur{
    width: 60%;
    height: 82.5vh;
    margin: 0 auto;
}
.futur h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.card_one{
    width: 97%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
}
.card_block{
    width: 97%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
}
.card_one .img_div{
    width: 390px;
    height: 300px;
    background-image: url(https://daryo.uz/cache/2021/06/f03cdf392231c05cde4da19fbcd6ba87-800x1000.jpg);
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card_block .img_div{
    width: 390px;
    height: 300px;
    background-image: url(https://img.freepik.com/premium-photo/two-young-girls-communicate-in-a-cafe-at-the-table_81534-658.jpg);
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card_one .tex{
    width: 50%;
    height: 300px;
    margin: 0 auto;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0);
}
.card_block .tex{
    width: 50%;
    height: 300px;
    margin: 0 auto;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0);
}
.card_one .tex h1{
    color: rgba(255, 0, 0, 0.8);
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 33px;
}
.card_one .tex button{
    width: 110px;
    height: 37px;
    padding: 10px;
    color: #fff;
    background-color: rgba(219, 15, 15, 0.781);
    border: 2px solid rgb(247, 5, 223);
    border-radius: 20px;
    margin-top: 40px;  
}
.card_block .tex h1{
    color: rgba(255, 0, 0, 0.8);
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 33px;
}
.card_block .tex button{
    width: 110px;
    height: 37px;
    padding: 10px;
    color: #fff;
    background-color: rgba(219, 15, 15, 0.781);
    border: 2px solid rgb(247, 5, 223);
    border-radius: 20px;
    margin-top: 40px;  
}